:root {
  --grey-primary: #1f2123;
  --grey-secondary: #232629;
  --grey-tertiary: #2c3135;
  --white: #fff;
  --light-grey: #b3bbc4;
  --green: #0bb463;
  --red: #ff6054;
  --blue: #297afe;
  --purple: #725dff;
  --border-radius: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: var(--white);
}

button {
  color: var(--white);
}

.container {
  background: url(./assets/background.jpg) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.layout {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);

  & > * {
    min-height: 0;
    min-width: 0;
  }
}

.task-list-container {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  .add-task-button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-text-color);

    &:hover {
      color: var(--light-grey);
    }
  }

  .task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 100%;

    .task-item {
      display: flex;
      align-items: center;
      gap: 12px;
      box-sizing: border-box;
      padding: 12px 8px 12px 0;
      border-bottom: 1px solid var(--grey-tertiary);

      &:first-of-type {
        padding-top: 0;
      }

      .task-item__status {
        .task-item__status--toggle-btn {
          background-color: white;
          border-radius: 100%;
          cursor: pointer;

          &:hover {
            background-color: var(--light-grey);
          }

          &.active {
            background-color: var(--green);
          }
        }
      }

      .task-item__category {
        font-size: 1.75rem;
        text-align: center;
        padding-bottom: 6px;
      }

      .task-item__details {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;

        .task-item__details--name {
          font-size: 1.2rem;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }

        .task-item__details--progress-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .task-item__details--sessions {
          font-size: 0.8rem;
          font-weight: 600;
          color: var(--light-grey);
        }

        .task-item__details--completion-time {
          font-size: 0.8rem;
          font-weight: 600;
          color: var(--light-grey);
        }
      }

      .task-item__actions {
        .task-item__actions--more-btn {
          cursor: pointer;
          fill: var(--light-grey);

          &:hover {
            fill: var(--white);
          }
        }
      }
    }
  }
}

.daily-progress-container {
  grid-column: 2 / 3;

  .daily-progress-wrapper {
    display: flex;
    align-items: center;
    height: 100%;

    .daily-progress-counter {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: center;

      .daily-progress-card-label {
        font-weight: 600;
      }

      .daily-progress-pending {
        display: flex;
        gap: 12px;
        align-items: center;

        .daily-progress-pending--label {
          background-color: var(--blue);
          padding: 4px 12px;
          border-radius: 16px;
          font-size: 1rem;
          font-weight: 600;
        }
      }

      .current-time {
        color: var(--light-grey);
      }
    }

    .daily-progress-widget {
      .daily-progress-percent {
        height: 105px;
        width: 105px;
        border-radius: 100%;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
}

.timer-container {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 16px 20px;

  .card-header {
    font-weight: 600;
    padding: 4px 0 12px 0;
  }

  .card-body {
    font-size: 1rem;
    flex: 1;
    min-height: 0;
  }

  .card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--grey-tertiary);
    padding: 12px 0 4px 0;
  }
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;

  &.show-modal {
    display: block;
  }
}

.modal {
  background: var(--grey-primary);
  border: 2px solid var(--grey-secondary);
  border-radius: var(--border-radius);
  padding: 16px 20px;
  width: min(500px, 90vw);
  color: var(--white);

  form {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      background-color: transparent;
      width: 100%;
      font-size: inherit;
      outline: none;
      color: var(--white);
    }

    label {
      color: var(--light-grey);
      font-size: 0.8rem;
    }

    .form-item__name > input {
      border: none;
      font-weight: 600;
      font-size: 1rem;
    }

    .form-item__description > textarea {
      border: 1px solid var(--light-grey);
      border-radius: var(--border-radius);
      padding: 12px;
      margin-top: 12px;
      font-size: 0.8rem;
    }

    .form-item__category {
      padding: 24px 0;

      .form-item__category--list {
        display: flex;
        gap: 12px;
        margin-top: 12px;

        .form-item__category--item {
          z-index: 1;
          cursor: pointer;
          width: 75px;
          height: 75px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: var(--border-radius);
          background-color: var(--grey-secondary);
          gap: 4px;
          box-sizing: border-box;

          .form-item__category--item-icon {
            width: 32px;
            height: 32px;
            font-size: 1.5rem;
            margin-top: -6px;
          }

          .form-item__category--item-name {
            font-size: 0.75rem;
            color: var(--light-grey);
          }

          &:hover {
            background-color: var(--grey-tertiary);
          }

          &.form-item__category--item--active {
            border: 2px solid var(--green);
          }
        }
      }
    }

    .form-item__sessions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      .form-item__sessions--controls {
        display: flex;
        align-items: center;
        background-color: var(--grey-secondary);
        border-radius: 24px;
        gap: 12px;

        & > * {
          padding: 8px;
        }

        button {
          outline: none;
          background-color: transparent;
          cursor: pointer;
          border-radius: 100%;
          width: 32px;
          border: none;

          &:hover,
          &:focus {
            background-color: var(--grey-tertiary);
          }
        }
      }
    }

    .error {
      color: var(--red);
      font-size: 0.8rem;
      margin-top: 2px;
    }
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-top: 12px;

    button {
      border-radius: 24px;
      border: none;
      outline: none;
      padding: 8px 16px;
      min-width: 100px;
      background-color: var(--grey-secondary);
      cursor: pointer;

      &:hover {
        background-color: var(--grey-tertiary);
      }
    }

    .modal-button__primary {
      background-color: var(--green) !important;
    }
  }
}
