:root {
  --primary-text-color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
  color: var(--primary-text-color);
}

.container {
  background: url(./assets/background.jpg) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.layout {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "work progress"
    "work timer"
    "work timer"
    "work timer";
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

.task-list-container {
  grid-area: work;
}

.daily-progress-container {
  grid-area: progress;
}

.timer-container {
  grid-area: timer;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  gap: 12px;
}

.card-header {
  font-size: 1rem;
  font-weight: 600;
}

.card-body {
  font-size: 1rem;
  flex: 1;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid blue;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid red;
}
